@{ 
    ViewBag.Title = "Home pagine";
}
<div class="jumbotron">
    <h1><b>AnimesLagarto</b> <img src="../img/lagmid.png" class="boom" alt="" /></h1>
    <p class="lead">La mejor pagina de Animes de las Islas Baleares</p>
</div>

<div class=" container">
    <div class="row">
        <div class="col-md-4" id="S">
            <h2>Animes de Amor</h2>
            <img src="../img/goldemtime.jpg" class="img-rounded Notimagen" alt="" />
            <p><a class="btn btn-default" href="http://localhost:50254/Home/Directorio?ty=1">Ver&raquo;</a></p>
        </div>
        <div class="col-md-4" id="S">
            <h2>Animes de Accion</h2>
            <img src="../img/accion.jpg" class="img-rounded Notimagen" alt="" />
            <p><a class="btn btn-default" href="http://localhost:50254/Home/Directorio?ty=2">Ver&raquo;</a></p>
        </div>
        <div class="col-md-4" id="S">
            <h2>Animes de Drama</h2>
            <img src="../img/drama.jpg" class="img-rounded Notimagen" alt="" />
            <p><a class="btn btn-default" href="http://localhost:50254/Home/Directorio?ty=3">Ver &raquo;</a></p>
        </div>
    </div>
    //
    <div class="row">
        <div class="col-md-4" id="info1">
            <h3>Directorio de Animes</h3>
            <p>
                Mira nuestra lista completa de animes y hazte una idea del maravilloso mundo del anime
            </p>
            <p><a class="btn btn-default" href="http://localhost:50254/Home/Directorio">Revisar&raquo;</a></p>
        </div>
        <div class="col-md-4" id="info2">
            <h3>Buscar</h3>
            <p>Busca Animes segun su genero y descubre todas los animes que aun no conoces</p>
            <p><a class="btn btn-default" href="http://localhost:50254/Home/Buscador">Empieza a buscar ya &raquo;</a></p>
        </div>
        <div class="col-md-4" id="info3">
            <h3>Lagarto Noticias</h3>
            <p>Pagina web de noticias actualizadas sobre todo aquello que ocurre en el mundo</p>
            <p><a class="btn btn-default" href="https://rawgit.com/cuencaLZ/Trabajo-final-LLMM/master/news.html">Ir a Lagarto Noticias &raquo;</a></p>
        </div>
    </div>
</div>